extends ../layout.pug

block content
    h2 #{trackGroup.title} 
    p 
      | by 
      strong #{trackGroup.artist.name}.
  
    a(
        href!=`${client}/${trackGroup.artist.urlSlug}/release/${trackGroup.urlSlug}`
        style="background-color:#BE3455;color:#ffffff;padding:12px 24px;text-decoration:none;font-size:16px;border-radius:4px;display:inline-block;"
    )
      | Buy Now

    p 
      | Consider supporting 
      a(href!=`${client}/${trackGroup.artist.urlSlug}`) #{trackGroup.artist.name} 
      | on Mirlo with a subscription or a purchase.
    p Enjoy!
     
    p 
      | If this was not you, you can safely ignore this email.