= `Mirlo: A ${isNewSubscription ? 'new' : ''} ${interval === 'MONTH' ? 'monthly' : 'yearly'} supporter at ${artist.user.currency.toUpperCase()} ${(profileUserSubscription.amount / 100).toFixed(2)} - ${profileUserSubscription.profileSubscriptionTier.name} tier`
