| Wow!
|
| Someone new is supporting #{artist.name} with a monthly 
| contribution at the #{artistUserSubscription.artistSubscriptionTier.name} tier.
|
| #{artist.name}
| #{artistUserSubscription.amount / 100} #{artistUserSubscription.currency}
| #{user.email} #{user.name}
| 
| To view all your supporters log in to Mirlo and go to your artist supporter page.
| Enjoy!