extends ../layout.pug

block content
  p 
    | Hello #{artist.name}!
  p 
    | Someone (#{email}) bought your entire digital catalogue!
  p
    | #{currencyPaid.toUpperCase()} 
    | #{pricePaid.toFixed(2)} 
    | (Mirlo's share: #{platformCut.toFixed(2)})
    
  p The final money will be available via your Stripe dashboard
  p If you have any questions please reach out to hi@mirlo.space

