extends ../layout.pug

block content
    p Hi,
    p
      | Thank you for supporting #{artist.name} with your monthly 
      | support at the "#{artistUserSubscription.artistSubscriptionTier.name}" tier.
    table 
      tr 
        td #{artist.name}
        td.pa3 #{artistUserSubscription.amount / 100} #{artistUserSubscription.currency}
    p To view all your subscriptions log in or create an account with this email address.
    p Enjoy!
