extends ../layout.pug

block content
    p Hi,
    p
      | Thank you for supporting #{artist.name} with your #{interval === 'month' ? 'monthly': 'yearly'} 
      | support at the "#{artistUserSubscription.artistSubscriptionTier.name}" tier.
    table 
      tr 
        td #{artist.name}
        td.pa3 #{artistUserSubscription.amount / 100} #{artistUserSubscription.currency}
    p To view all your subscriptions log in or create an account with this email address.
    - const supportMessage = artist?.properties?.emails?.support
    if supportMessage
      div!= supportMessage
    else
      p Enjoy!
