| Wow!
|
| Thank you for supporting #{artist.name} with your monthly 
| support at the #{artistUserSubscription.artistSubscriptionTier.name}.
|
| #{artist.name}
| #{artistUserSubscription.amount / 100} #{artistUserSubscription.currency}
| 
| To view all your subscriptions log in or create an account with this email address.
| Enjoy!