extends ../layout.pug

block content
    .pa4
      | This person #{email} reported a problem with an album: 
    .pa4 
      | #{reason}: #{description}
    .pa4 
      | trackgroupId: #{trackGroupId}
    if trackGroup
      .pa4
        | trackGroup: #{trackGroup.title} by #{trackGroup.artist}
    .pa4
      | You can view and manage the album here:
    .pa4
      a(href!=`${client}/${trackGroup.artist.urlSlug}/releases/${trackGroup.urlSlug}`).
