extends ../layout.pug

block content

    div.email-header
      if post.featuredImage
        a(href!=`${client}/${artist.urlSlug}/posts/${post.urlSlug}`)
          img(src=post.featuredImage.src, alt="Featured Image", style="width:100%;height:auto;max-height:400px;object-fit:cover;margin-bottom:8px;")

      p.email-byline #{artist.name} just published a new post on Mirlo
      h1.email-title #{post.title}
      p.read-on-mirlo
        a(href!=`${client}/${artist.urlSlug}/posts/${post.urlSlug}`) Read it on Mirlo.

    div
      | !{post.htmlContent}

    p.email-unsubscribe
      | Don't want to receive emails from #{artist.name} anymore?
      |
      |
      a(href!=`${client}/${artist.urlSlug || artist.id}/unsubscribe?email=${email}`) Unsubscribe.
