|
| #{artist.name} just published a new post on Mirlo: 
|
| #{post.title}
| 
| Read it on Mirlo: #{client}/post/#{post.id}
| 
| !{post.content}
| Don't want to receive emails from #{artist.name} anymore? 
| Unsubscribe: #{client}/#{artist.urlSlug ?? artist.id}/unsubscribe?email=#{email}`