| Yay!
|
| Someone (#{email}) bought a digital copy of #{trackGroup.title}.
|
| #{trackGroup.title}
| #{pricePaid} #{purchase.currencyPaid}
| Mirlo percentage: #{trackGroup.platformPercent}
| Final: #{pricePaid - platformCut} #{purchase.currencyPaid}
| 
| The final money will be available via your Stripe dashboard
| Enjoy!