extends ../layout.pug

mixin purchaseRow(title, sku, transaction)
  tr
    td #{title}
    td #{sku}
    td #{transaction.currency.toUpperCase()} #{(transaction.amount / 100).toFixed(2)}
    td #{transaction.platformFee / 100 ? `(Platform fee: ${transaction.platformFee / 100})` : ''}
    td #{transaction.stripeCut / 100 ? `(Payment processor fee: ${transaction.stripeCut / 100})` : ''}
    td Final: #{transaction.currency} #{((transaction.amount - transaction.platformFee - transaction.stripeCut) / 100).toFixed(2)}

block content
  p New purchases on your Mirlo store!
    
  table 
    each transaction in transactions
      if transaction.trackGroupPurchases
        each purchase in transaction.trackGroupPurchases
          +purchaseRow(`${purchase.trackGroup.artist.name} \ ${purchase.trackGroup.title}`, purchase.trackGroup.catalogNumber, transaction)
      if transaction.trackPurchases
        each purchase in transaction.trackPurchases
          +purchaseRow(purchase.track.title, purchase.track.isrc, transaction)
      if transaction.merchPurchases
        each purchase in transaction.merchPurchases
          +purchaseRow(`${purchase.merch.artist.name} \ ${purchase.merch.title}`, purchase.merch.sku, transaction)
      if transaction.tips
        each tip in transaction.tips
          +purchaseRow('Tip', '', transaction)
    tr 
      td(colSpan=5) #{total}
      td Final: #{currency} #{(total / 100).toFixed(2)}


  p You can view your sales in your 
    a(href!=`${client}/sales`) artist dashboard
    | .