| Woohoo!
|
| Here's your free download of #{trackGroup.title} by #{trackGroup.artist.name}.
|
| #{trackGroup.title}
| #{client}/#{trackGroup.artist.urlSlug}/release/#{trackGroup.urlSlug}/download?token=#{token}&email=#{email}`) download
| 
| Consider supporting #{trackGroup.artist.name} directly with a financial contribution as well.
| Enjoy!