| Hi!
|
| Someone used this email address to subscribe to #{artist.name} on Mirlo 
|
| Click this link to confirm: #{host}/artists/#{artist.id}?email=#{user.email}&token=#{token}
| 
| If this was not you, please get in touch with our worker members as soon as possible https://mirlo.space