doctype html
html
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="x-apple-disable-message-reformatting")
      style 
        include ../style.css
  body.sans-serif
    p Woohoo! 
    p 
      | Here's your download of 
      strong #{track.title} 
      | by 
      strong #{track.trackGroup.artist.name}.
    table 
      tr 
        td #{track.title}
        td 
          a(href!=`${client}/${track.trackGroup.artist.urlSlug}/release/${track.trackGroup.urlSlug}/tracks/${track.id}/download?token=${token}&email=${email}`) download

    p 
    p 
      | Consider supporting 
      a(href!=`${client}/${track.trackGroup.artist.urlSlug}`) #{track.trackGroup.artist.name}
      | with a subscription.
    p 
      | If you want to have access to all your purchases for this e-mail address, 
      | simply 
      a(href!=`${client}/password-reset?email=${email}`) set a password for it
      | .
    p Enjoy!
