extends ../layout.pug

block content
  p Woohoo!
  p
    | Here's your download of
    |
    strong #{track.title}
    |
    | by
    |
    strong #{track.trackGroup.artist.name}.

  table
    thead
      tr
        th Title
        th Download
    tbody
      tr
        td #{track.title}
        td
          a(href!=`${client}/${track.trackGroup.artist.urlSlug}/release/${track.trackGroup.urlSlug}/tracks/${track.id}/download?token=${token}&email=${email}`) download

  p
    | Consider supporting
    |
    a(href!=`${client}/${track.trackGroup.artist.urlSlug}`) #{track.trackGroup.artist.name}
    |
    | with a subscription.
  p
    | If you want to have access to all your purchases for this e-mail address,
    | simply
    |
    a(href!=`${client}/password-reset?email=${email}&accountIncomplete=true`) set a password for it
    | .
  - const purchaseMessage = track.trackGroup.artist?.properties?.emails?.purchase
  if purchaseMessage
    div!= purchaseMessage
  else
    p Enjoy!
