| Woohoo!
|
| Here's your free download of #{track.trackGroup.title} by #{track.trackGroup.artist.name}.
|
| #{track.trackGroup.title}
| #{client}/#{track.trackGroup.artist.urlSlug}/release/#{track.trackGroup.urlSlug}/download?token=#{token}&email=#{email}`) download
| 
| Consider supporting #{track.trackGroup.artist.name} directly with a financial contribution as well.
| Enjoy!