extends ../layout.pug

block content
    p Wow! 
    if isBeforeReleaseDate
      p Thank you for supporting #{trackGroup.artist.name} with your pre-order of #{trackGroup.title}.
    else
      p Thank you for supporting #{trackGroup.artist.name} with your purchase of #{trackGroup.title}.
     
    div 
      p #{trackGroup.title}
      p #{purchase.transaction.currency.toUpperCase()} #{(purchase.transaction.amount / 100).toFixed(2)}
    if isBeforeReleaseDate
      p The album will become available in your collection for unlimited listening and downloading once it is released.
    else 
      p The album is now available in your collection for unlimited listening and downloading.
    - const purchaseMessage = trackGroup.artist?.properties?.emails?.purchase
    if purchaseMessage
      div!= purchaseMessage
    else
      p Enjoy!
