| Wow!
|
| Thank you for supporting #{trackGroup.artist.name} with your purchase of #{trackGroup.title}
|
| #{trackGroup.title}
| #{purchase.pricePaid}: #{purchase.currencyPaid}
| 
| The album is now available in your collection for unlimited listening and downloading.
| Enjoy!