| Yay!
|
| Someone (#{email}) bought a digital copy of #{track.trackGroup.title}.
|
| From album: #{track.trackGroup.title}
| #{pricePaid} #{purchase.currencyPaid}
| Mirlo percentage: #{track.trackGroup.platformPercent}
| Final: #{pricePaid - platformCut} #{purchase.currencyPaid}
| 
| The final money will be available via your Stripe dashboard
| Enjoy!