extends ../layout.pug

block content
  p Woohoo!
  p
    | Here's your free download of
    |
    strong #{trackGroup.title}
    |
    | by
    |
    strong #{trackGroup.profile.name}.

  table
    thead
      tr
        th Title
        th Download
    tbody
      tr
        td #{trackGroup.title}
        td
          a(href!=`${client}/${trackGroup.profile.urlSlug}/release/${trackGroup.urlSlug}/download?token=${token}&email=${email}`) download

  p
    | Consider supporting
    |
    a(href!=`${client}/${trackGroup.profile.urlSlug}`) #{trackGroup.profile.name}
    |
    | with a subscription or a purchase.
  p Enjoy!
