extends ../layout-wide.pug

mixin purchaseRow(title, transaction)
  tr
    td #{transaction.userFriendlyId || '---'}
    td #{title}
    td.num #{(transaction.amount / 100).toFixed(2)}
    td.num #{transaction.platformFee / 100 ? (transaction.platformFee / 100).toFixed(2) : ''}
    td.num #{transaction.stripeCut / 100 ? (transaction.stripeCut / 100).toFixed(2) : ''}

block content
  p Thank you for your purchase!
  - const supportMessage = profile?.properties?.emails?.purchase
  if supportMessage
    div.border.pa3!= supportMessage
  - var receiptCurrency = transactions && transactions[0] && transactions[0].currency ? transactions[0].currency.toUpperCase() : ''
  table
    thead
      tr
        th Transaction ID
        th Item
        th.num Amount#{receiptCurrency ? ` (${receiptCurrency})` : ''}
        th.num Platform fee
        th.num Payment processor fee
    tbody
      each transaction in transactions
        each purchase in transaction.trackGroupPurchases
          +purchaseRow(purchase.trackGroup.title, transaction)
          tr
            td(colspan="5")
              a(href!=`${client}/${purchase.trackGroup.profile.urlSlug}/release/${purchase.trackGroup.urlSlug}`) View release

        each purchase in transaction.trackPurchases
          +purchaseRow(purchase.track.title, transaction)
          tr
            td(colspan="5")
              a(href!=`${client}/${purchase.track.trackGroup.profile.urlSlug}/release/${purchase.track.trackGroup.urlSlug}`) View release

        each purchase in transaction.merchPurchases
          +purchaseRow(`${purchase.merch.title} ${purchase.options.map((o) => o.name).join(', ')}: ${purchase.quantity}`, transaction)
        each tip in transaction.tips
          +purchaseRow('Tip', transaction)

  p Your support keeps our community strong.
  hr
  p
    | New to mirlo? If you want to have access to all your purchases for this e-mail address, simply #[a(href!=`${client}/password-reset?email=${email}`) set a password for it].
