| Hi!
| Someone signed up to Mirlo using this email address
|
| #{user.email}
|
| Click this link to confirm: #{host}/auth/password-reset/confirmation/#{token}?id=#{user.id}&redirectClient=#{redirectClient}
| 
| If this was not you, you can ignore this email.