| Hi!
| Someone signed up to blackbird using this email address
|
| #{user.email}
|
| Click this link to confirm: #{host}/auth/password-reset/confirmation/#{token}?email=#{user.email}&redirectClient=#{redirectClient}
| 
| If this was not you, you can ignore this email.