extends ../layout-wide.pug

block content
  p Hi #{user.name}
  p Your sales report for the past month:
  table
    thead
      tr
        th Artist
        th Date
        th Type
        th Title
        th Buyer
        th.num Amount
    tbody
      each val in userSales
        tr
          td #{val.profile.map(a => a.name).join(', ')}
          td #{val.datePurchased.split('T')[0]}
          td #{val.saleType}
          td #{val.title}
          td #{val.user.name} (#{val.user.email})
          td.num #{val.currency} #{val.amount / 100}

  p Total Income: #{totalIncome / 100} #{userSales[0] ? userSales[0].currency || 'USD' :  'USD'}

  - const subscriptionPayments = userSales.filter((sale) => (sale.profileUserSubscriptionCharges || []).length > 0)
  if subscriptionPayments.length
    h2 Subscription payments this month
    table
      thead
        tr
          th Supporter
          th Tier
          th Interval
          th.num Amount
      tbody
        each sale in subscriptionPayments
          - const tier = sale.profileUserSubscriptionCharges[0].profileUserSubscription.profileSubscriptionTier
          tr
            td #{sale.user.name}
            td #{tier.name}
            td #{tier.interval === 'YEAR' ? 'Yearly' : 'Monthly'}
            td.num #{sale.currency} #{sale.amount / 100}
    - const subscriptionTotal = subscriptionPayments.reduce((sum, sale) => sum + sale.amount, 0)
    p Subscription income: #{subscriptionTotal / 100} #{subscriptionPayments[0].currency || 'USD'}

  if cancelledSubscriptions.length
    h2 Cancelled subscriptions this month
    table
      thead
        tr
          th Supporter
          th Tier
          th Reason
          th.num Amount no longer recurring
      tbody
        each cancelled in cancelledSubscriptions
          tr
            td #{cancelled.user.name || 'A supporter'}
            td #{cancelled.profileSubscriptionTier.name}
            td #{cancelled.deleteReasonLabel}
            td.num #{cancelled.profileSubscriptionTier.profile.user.currency || 'USD'} #{cancelled.amount / 100}

  p We love to see it.
  p Enjoy!
