extends ../layout-wide.pug

block content
  p
    | Hello #{artist.user.name}!
  p
    | Someone (#{email}) bought something from you!

  table
    thead
      tr
        th Item
        th SKU
        th.num Quantity
        th.num Total Price
        th.num Mirlo's Cut
        th.num Payment Processor Fee
        th.num Shipping Fee
    tbody
      each purchase in purchases
        tr
          td #{purchase.merch.title}
          td #{purchase.merch.sku}
          td.num #{purchase.quantity}
          td.num #{purchase.transaction.currency.toUpperCase()} #{(purchase.transaction.amount / 100).toFixed(2)}
          td.num #{purchase.transaction.currency.toUpperCase()} #{(purchase.transaction.platformCut / 100).toFixed(2)}
          td.num #{purchase.transaction.currency.toUpperCase()} #{(purchase.transaction.stripeCut / 100).toFixed(2)}
          td.num #{purchase.transaction.currency.toUpperCase()} #{(purchase.transaction.shippingFeeAmount / 100).toFixed(2)}

  if message
    p
      | The buyer left a message for you:
      |
      em "#{message}"
  p
    | To learn more about this order, please see your #[a(href="https://mirlo.space/fulfillment") fulfillment dashboard].
  p The final money will be available via your Stripe dashboard
  p If you have any questions please reach out to hi@mirlo.space

