extends ../layout.pug

block content
    div
      div.mw600
        p 
          | Hello #{artist.user.name}!
        p 
          | Someone (#{email}) bought something from you!.
      table.mw600
        tr 
          th Item
          th Quantity
          th Total Price
          th Mirlo's Cut
          th Payment Processor Fee
          th Shipping Fee
        tbody
          each purchase in purchases 
            tr
              td #{purchase.merch.title}
              td #{purchase.quantity}
              td #{purchase.transaction.currency.toUpperCase()} #{(purchase.transaction.amount / 100).toFixed(2)}
              td #{purchase.transaction.currency.toUpperCase()} #{(purchase.transaction.platformCut / 100).toFixed(2)}
              td #{purchase.transaction.currency.toUpperCase()} #{(purchase.transaction.stripeCut / 100).toFixed(2)}
              td #{purchase.transaction.currency.toUpperCase()} #{(purchase.transaction.shippingFeeAmount / 100).toFixed(2)}

      if message 
        p
          | The buyer left a message for you: "#{message}"
      p
        | To learn more about this order, please see your
        a(href="https://mirlo.space/fulfillment") fulfillment dashboard
        | .
      p The final money will be available via your Stripe dashboard
      p If you have any questions please reach out to hi@mirlo.space

