extends ../layout.pug

block content
    p Cool! 
    p Thank you for supporting #{artist.name} with your purchase.
     
    ul 
      each purchase in purchases 
        li #{purchase.merch.title} amount #{purchase.quantity}: 
           | #{purchase.currencyPaid.toUpperCase()} #{(purchase.amountPaid / 100).toFixed(2)}
        
    p The artist will start fulfilling your order and be in touch.
    - const purchaseMessage = artist?.properties?.emails?.purchase
    if purchaseMessage
      div!= purchaseMessage
    else
      p Enjoy!
