extends ../layout.pug

block content
  p Hi!
  p Someone signed up to mirlo using this email address
  p #{user.email}
  p 
    a(href!=`${host}/auth/confirmation/${user.emailConfirmationToken}?user=${user.id}&client=${client}&accountType=${accountType}`) Click here to confirm
  p If this was not you, you can safely ignore this email.
