| Hi!
| Someone signed up to Mirlo using this email address
|
| #{user.email}
|
| Click this link to confirm: #{host}/auth/confirmation/#{user.emailConfirmationToken}?email=#{encodeURIComponent(user.email)}&user=#{user.id}&client=#{client}&accountType=#{accountType}
| 
| If this was not you, you can ignore this email.