| Woohoo!
|
| Thank you for buying #{artist.name} entire digital catalogue!
| 
| This includes digital downloads of:
|
each trackGroup in trackGroups
  | #{trackGroup.title}
  | #{client}/#{trackGroup.artist.urlSlug}/release/#{trackGroup.urlSlug}/download?token=#{token}&email=#{email}`) download
| 
|
| Enjoy!